.success {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paper {
  margin: 50px;
  width: 500px;
}
.successMsg {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
